* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 transition: all 0.1s ease-in-out;
}

html {
 max-width: 100vw;
 overflow-x: hidden;
 scroll-behavior: smooth;
}

body {
 display: flex;
 flex-direction: column;
 align-items: center;

 font-family: sans-serif;
}

p {
 margin-bottom: 16px;
}

:root {
    --blue: #29f;
    --light-blue: #9bf;
    --white: #ddd;
    --gray: #ccc;
    --dark-gray: #444;
    --black: #222;
}